.Header{
    width: 100%;
}
.Header button{
    float: right;
}
.Header h3{
    display: inline;
}
.butn{
        border: 1px solid white;
        
}
.modal-content{
    width: 90%;
    margin:40px;
}
Canvas{
    border: 2px solid white;
}